.icons {
    color: #ce9fa6;
    font-size: 2.2rem;
    cursor: pointer;
}
.error {
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Quicksand';
}
.error h1 {
    color: #b24c8e;
    letter-spacing: 1px;
    text-align: center;
}
.error p {
    color: #82aeb6;
    font-size: 16px;
}
.container {
    justify-content: unset;
}
.add {
    color: #b24c8e;
}
.stick {
    color: #27ea79;
}
.disable {
    color: lightgray;
    cursor: not-allowed;
}
.favsIcons {
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
}
.phonetic {
    font-size: 24px;
    font-family: 'Quicksand';
    color: #ce9fa6;
    margin-left: 36px;
}
.loadingContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadingContainer span {
    width: 70px;
    height: 70px;
}
.loading {
    width: 120px;
    height: 120px;
}
.loading svg {
   color: #ce9fa6;
}
.wordContainer {
    background: linear-gradient(168deg, rgba(185,202,207,1) 55%, rgba(206,159,166,1) 98%);
    border-radius: 20px;
    width: calc(100% - 200px);
    height: 250px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.iconsContainer {
    display: flex;
    width: calc(100% - 200px);
    justify-content: space-between;
    align-items: center;
    margin: 28px 15px 0px 15px;
}

.wordTitle {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Quicksand';
    color: #f1eff0;
    text-transform: uppercase;
    margin-left: 36px;
}

.soundIcon {
    margin-right: 26px;
    background: #82aeb6;
    padding: 4px;
    border-radius: 6px;
    color: #f1eff0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.definitionsContainer {
    height: auto;
    width: calc(100% - 200px);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divider {
    width: 100%;
    margin: 24px 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    display: block;
}
.sad {
    width: 250px;
    height: auto;
    animation: beat 4s infinite alternate;
	transform-origin: center;
}

@keyframes beat{
	to { transform: scale(1); }
}

@media (max-width: 768px) {
    .definitionsContainer {
        width: calc(100% - 40px);
    }
    .wordTitle {
        font-size: 24px;
        letter-spacing: normal;
    }
    .wordContainer {
        width: calc(100% - 40px);
        height: 180px;
    }
    .icons {
        font-size: 1.5rem;
    }
    .iconsContainer {
        width: calc(100% - 50px);
    }
    .divider {
        width: calc(100% - 40px);
    }
  }

  @media (max-width: 375px) {
    .definitionsContainer {
        width: calc(100% - 10px);
    }
  }
  @media (max-width: 425px) {
    .error p {
       padding: 10px 40px;
       font-weight: 600;
       text-align: center;
    }
    .error h1 {
        font-size: 24px;
        letter-spacing: 1px;
        text-align: center;
    }
  }