.header {
    width: 100%;
    display: flex;
    align-items: center;
}
.title {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-size: 700;
    color: #ce9fa6;
}
.imageContainer {
    margin: 40px 60px;
    height: auto;
    width: 400px;
    display: flex;
    position: relative;
}
.DeleteIcon {
    color:#ce9fa6;
    font-size: 16px;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
.image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.icons {
    color: #82aeb6;
    font-size: 1.5rem;
    cursor: pointer;
    align-self: start;
    padding: 24px;
    position: absolute;
    top: 20px;
}
.hearts {
    width: 120px;
    height: auto;
    position: relative;
    right: 95px;
    top: -80px;
    transform: translatey(0px);
	animation: float 4s ease-in-out infinite;
    right: 150px;
    top: -120px;
}
.wordsContainer {
    width: calc(100% - 20px);
    height: auto;
    margin: 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    overflow: scroll;
}
.word {
    width: calc(100% /4);
    margin: 8px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    background: #f1eff0;
    height: 80px;
    border-radius: 4px;
    display: flex;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Quicksand';
    color: #b24c8e;
    border-radius: 50px;
}
.message {
    font-family: 'Quicksand';
    color: #b24c8e;
    text-align: center;
    font-size: 24px;
}
@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }
    .title {
        font-size: 24px;
    }
    .imageContainer {
        height: auto;
        width: 280px;
    }
    .wordContainer {
        width: calc(100% - 50px);
        height: auto;
    }
    .word {
        width: calc(100% /3);
        height: 60px;
    }
    .hearts {
        width: 100px;
        right: 150px;
        top: -120px;
    }
  }
  @media (max-width: 425px) {
    .header {
        flex-direction: column;
    }
    .imageContainer {
        margin:10px 20px;
        height: auto;
        width: 240px;
    }
    .title {
        font-size: 18px;
    }
    .wordsContainer {
        width: calc(100% - 50px);
        justify-content: center;
    }
    .word {
        font-size: 15px;
        width: calc(100% - 50px);
        letter-spacing: 1px;
    }
    .hearts {
        width: 100px;
        height: 100px;
        right: 95px;
        top: -50px;
    }
    .DeleteIcon {
        font-size: 14px !important;
    }
    .message {
        font-size: 18px;
    }
  }