.mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-direction: column;
    background: #f1eff0;
}
.container {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 25px);
    height: calc(100% - 25px);
    border-radius: 25px;
    flex-direction: column;
    margin: 20px 0px;
    background: #f1eff0;
    box-shadow: 2px 1px 17px 8px rgba(135,117,117,0.52);
-webkit-box-shadow: 2px 1px 17px 8px rgba(135,117,117,0.52);
-moz-box-shadow: 2px 1px 17px 8px rgba(135,117,117,0.52);
background: linear-gradient(0deg, rgba(238,203,209,0.4640449929971989) 33%, rgba(130,174,182,0.38001137955182074) 63%, rgba(255,255,255,0.0746892507002801) 78%, rgba(255,255,255,0.04667804621848737) 88%, rgba(255,255,255,0) 100%);
}

.imageContainer {
    width: 300px;
    height: auto;
    position: relative;
}
.floatingImage {
    width: 30px;
    position: relative;
    height: auto;
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}
.microscopy {
    top: -190px;
    left: 210px;
    transform: rotate(35deg);
}
.world {
    top: -280px;
    left: 150px;
}
.school {
    width: 60px;
    top: -200px;
    right: 5px;
}

.image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.title {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    font-size: 700;
    color: #ce9fa6;
}
.subtitle {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    color: #82aeb6;
    text-align: center;
}

  @media (max-width: 425px) {
    .title {
        font-size: 28px;
    }
    .imageContainer {
        width: 75%;
    }
    .subtitle {
        font-size: 14px;
    }
    .microscopy {
        top: -190px;
        left: 140px;
    }
    .world {
        top: -300px;
        left: 120px;
    }
  }

  @media (max-width: 320px) {
    .title {
        font-size: 24px;
    }
    .microscopy {
        width: 30px;
        top: -190px;
        left: 150px;
    }
    .world {
        width: 25px;
        top: -290px;
        left: 50px;
    }
    .school {
        width: 40px;
        top: -200px;
        right: 20px;
    }
  }

  @keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}